
<div class="grid md:grid-cols-4 gap-4" >
  <section class="flex flex-col gap-4 bg-white rounded-md p-5">
    <span class="rounded-full overflow-hidden">
      <%= image_tag 'user-placeholder.jpg' %>
    </span>
    <h1><%= @athlete.full_name %></h1> 
  </section>

  <section class="flex flex-col gap-4 bg-white rounded-md p-5 md:col-span-3">
    <h2>Training Plan</h2>
    <div class="flex flex-wrap gap-4">
      <% if @athlete.assigned_sessions.any? %>
        <% @athlete.assigned_sessions.each do |session| %>
          <div class="p-4 rounded text-center border border-black min-w-40">
            <h2><%= session.date %>
            <p><%= session.details %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
 